.body{
    width: 100%;
    height: 100%;
    margin: 0px;
    
overflow-x: hidden;
    border: 0px solid;
    background-color: hsl(210, 13%, 9%);
}
@font-face {
    font-family: Euclid Circular A-Light;
    src: url("./assets/Euclid\ Circular\ A\ Light.ttf");
}
@font-face {
    font-family: Euclid Circular A-Medium;
    src: url("assets/Euclid\ Circular\ A\ Medium.ttf");
}
.nav {
  position:fixed;
  
  width: 100%;
  height: 60px;
  background-color: #1f2835;
  align-content: center;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.namelogoicon {

  width: 50px;
  height: 50px;
  top: 8px;
  align-self: center;
  left: 17px;
  object-fit: cover;
}

.text-wrapper {
  width: 98px;

  top: 21px;
  left: 96px;
  font-family: "Euclid Circular A-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  align-content: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.text-wrapper1 {
 
  width: 98px;

  font-family: "Euclid Circular A-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  align-content: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.text-wrapper-2 {
 
  width: 116px;
  
  top: 21px;
  left: 322px;
  font-family: "Euclid Circular A-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  align-content: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.text-wrapper-3 {

  width: 98px;

  top: 21px;
  left: 450px;
  font-family: "Euclid Circular A-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  align-content: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}
.header{
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
}
.imgh{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: 10%;
}

.maintext {

 
  font-family: "Euclid Circular A-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
.industrial-graphic {

  width: 534px;

  font-family: "Euclid Circular A-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 10%;
}

.vector-1 {
margin: 10px;
  width: 35px;
  height: 35px;

}

.vector-2 {

margin: 10px;
  width: 35px;
  height: 35px;
  
}

.vector-3 {
 
margin: 10px;
  width: 35px;
  height: 35px;

}

.vector-4 {

 margin: 10px;
  width: 35px;
  height: 35px;

}
.vector-1:hover{
    filter: drop-shadow(0px 0px 1px white);
}
.vector-2:hover{
    filter: drop-shadow(0px 0px 1px white);
}
.vector-3:hover{
    filter: drop-shadow(0px 0px 1px white);
}
.vector-4:hover{
    filter: drop-shadow(0px 0px 1px white);
}
.rectangle {

  width: 150px;
  height: 60px;

  margin-right: 10px;
  background-color: #0285cd;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}
.rectangle:hover{
    box-shadow: 0 0 5px white;
}
.div {

  width: 164px;

  font-family: "Euclid Circular A-Medium", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.buttonwrap{
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.htext{
width: fit-content;
    display: flex;
    flex-direction: column;
  margin-left: 8%;
}

.services{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.icon {
  font-size: 32px;
  margin-bottom: 12px;
}

.card {
  background: #1e3a47;
  color: white;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  text-align: center;
  transition: height 0.3s ease;
  width: 280px;
  cursor: pointer;
  height: 100px; /* initial height */
  overflow: hidden;
}

.card:hover {
  height: 180px; /* height after hover */
}

.description {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  font-family: "Euclid Circular A-Light";
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.card:hover .description {
  opacity: 1;
  max-height: 100px;
}

.cardt{
    font-size: 20px;
    font-family: "Euclid Circular A-Light";
}
.servicest{
    align-self: center;
    text-align: center;
    color: white; 
    
    font-family: "Euclid Circular A-Light";
}
.aboutimg{
    width: 550px;
    height: auto;
    margin: 80px;
}
.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.abouttext{
    font-family: "Euclid Circular A-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
.aboutme{
      width: 534px;

  font-family: "Euclid Circular A-Light", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;

  margin-right: 100px;
}

.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
      margin: 60px;
    }

    .cardG {
      background-color: #1e1e1e;
      border-radius: 35px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    }

    .cardG img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 35px;
    }

    .cardG p {
      margin: 0;
      padding: 15px;
      font-weight: bold;
      font-size: 1.1rem;
      background-color: #2a2a2a;
      border-top: 1px solid #333;
      border-radius: 0 0 20px 20px;
    }
    .gtext{
        font-family: "Euclid Circular A-Light", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size:16px;
  letter-spacing: 0;
  line-height: normal;
    }


     .footer {
      background-color: #182231;
      color: white;
      padding: 50px 60px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .footer-left {
      flex: 1;
      min-width: 250px;
    }

    .footer-left h1 {
      font-size: 20px;
      font-weight: 400;
      margin: 0 0 5px;
      font-family: "Euclid Circular A-Medium";
    }

    .footer-left h2 {
      font-size: 32px;
      font-weight: 600;
      margin: 0 0 30px;
      font-family: "Euclid Circular A-Light";
    }

    .footer-left p,
    .footer-left a {
      color: #d1d5db;
      text-decoration: none;
      margin-bottom: 10px;
      display: block;
      font-size: 15px;
      font-family: "Euclid Circular A-Light";
    }

    .footer-left a:hover {
      text-decoration: underline;
    }

    .footer-links {
      display: flex;
      gap: 60px;
      min-width: 200px;
      font-family: "Euclid Circular A-Light";
    }

    .footer-column {
      display: flex;
      flex-direction: column;
    }

    .footer-column a {
      color: #d1d5db;
      text-decoration: underline;
      margin-bottom: 12px;
      font-size: 15px;
    }

    .footer-column a:hover {
      color: white;
    }

    @media (max-width: 768px) {
      .footer {
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
      }

      .footer-links {
        flex-direction: row;
        justify-content: space-between;
      }

      .footer-column {
        margin-top: 20px;
      }


.grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      
    }

.cardG img{
    border-radius: 35px;
}
  .cardG {
      background-color: #1e1e1e;
      border-radius: 35px;
      overflow: hidden;
      text-align: center;
      box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    }
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.maintext {

 
  font-family: "Euclid Circular A-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 38px;
  letter-spacing: 0;
  line-height: normal;
}
.industrial-graphic {

  width: 534px;

  font-family: "Euclid Circular A-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
 text-align: center;
  margin-bottom: 10%;
}
.htext{
width: fit-content;
    display: flex;
    flex-direction: column;

  align-items: center;
}
.buttonwrap{
    height: auto;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.cardt{
    font-size: 14px;
}
.card {
  background: #1e3a47;
  color: white;
  padding: 24px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  text-align: center;
  transition: height 0.3s ease;
  width: 220px;
  cursor: pointer;
  height: 100px; /* initial height */
  overflow: hidden;
}

.card:hover {
  height: 200px; /* height after hover */
}

.description {
  opacity: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  font-size: 11px;
  font-family: "Euclid Circular A-Light";
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.card:hover .description {
  opacity: 1;
  max-height: 100px;
}
.icon {
  
  width: 20px;
  margin-bottom: 10px;
}

.aboutimg{
    width: 400px;
    height: auto;
    margin: 30px;
}
.abouttext{
    font-family: "Euclid Circular A-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 38px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin-right: 20px;
  margin-left: 30px;
}
.aboutme{
width: 100%;

  font-family: "Euclid Circular A-Light", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;

  
}
    }
